<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <header>
      <div class="header-container">
            <div class="header-top-nav">
              <nav class="header-user-links">
                <ul>
                  <li><a href="">Iniciar sesión</a></li>
                  <li><a href="">Crear una cuenta</a></li>
                </ul>
              </nav>
            </div>
            <div class="header-main-nav">
            <img src="/images/logo.svg" alt="" class="header-logo">
            <div class="actions">
              <div><img src="/images/icon-search.svg" alt="icon search"></div>
              <div><img src="/images/icon-user.svg" alt="icon user"></div>
              <div><img src="/images/vertical-bar.png" alt="vertical bar"></div>
              <div><img src="/images/icon-shopping-cart.svg" alt="icon shopping cart"></div>
            </div>
            <div class="category-links">
              <nav>
                <ul>
                  <li><a href="">Polos</a></li>
                  <li><a href="">Tazas</a></li>
                  <li><a href="">Stickers</a></li>
                  <li><a href="">Compañía</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
    </header>
    <div class="category-header">
      <h2 class="product-category__title"><%= category.title %></h2>
      <p class="product-category__description">
        <%= category.description %>
      </p>
      <hr />
    </div>
    <div class="category-content">
      <section id="filters">
        <form>
          <div class="form-heading">
            <p class="form__title">Precio</p>
          </div>
          <div class="form-content">
            <div class="filter">
              <label for="min" class="form__label">Min</label>
              <input type="text" id="min" name="min" class="form__input"/>
            </div>
            <div class="filter">
              <label for="max" class="form__label">Max</label>
              <input type="text" id="max" name="max" class="form__input"/>
            </div>
          </div>
          <div class="form-buttons">
            <button class="form__button" type="submit">Filtrar Productos</button>
          </div>
        </form>
      </section>
      <section id="lista-productos">
        <% products.map(product => { %>
        <div class="container">
          <article class="product-container">
            <a href="/product/<%= product.id %>">
              <div class="product-container-top">
              <img
                src="<%= product.imgSrc %>"
                alt="Imagen de un producto"
              />
              </div>
              <div class="product-container-bottom">
              <p class="product-title"><%= product.title %></p>
              <p class="product-description">
                <%= product.description %>
              </p>
              <p class="product-price"><%= product.price %></p>
              </div>
            </a>
          </article>
        </div>
        <% }) %>
      </section>
    </div>
  </body>
</html>
